body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./2859352.jpg");
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
main div{
    font-size: 2.5rem;
    font-weight: 600;
}
main button{
    width: 30rem;
    height: 3rem;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #7300ff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 0.3rem;
}
main button:hover{
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem 0rem #131313;
}
pre{
    position: absolute;
    z-index: 99;
    color: #000;
    background-color: #fff;
    margin: 0;
    white-space: pre-line;
    padding: 2rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    top: -30rem;
    height: 19rem;
    transition: all 0.5s;
}
i{
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}
.entering{
    top: calc(50vh - 9.5rem);
}